<h5><u>Its gonna be cold</u></h5>
<p>KEEP HOT AIR FROM LEAKING INTO YOUR HOME
Seal cracks and openings to prevent warm air from leaking into your home. Learn more about air sealing new and existing homes. Add caulk or weatherstripping to seal air leaks around leaky doors and windows.
Find how to select and apply the appropriate caulk. Learn how to select and apply weatherstripping.
Find out other ways to improve the energy efficiency of your windows.</p>

<p>LOWER YOUR WATER HEATING COSTS
Water heating accounts for about 18% of the energy consumed in your home.</p>

<p>Turn down the temperature of your water heater to the warm setting (120°F). You'll not only save energy, you'll avoid scalding your hands. Find other strategies for energy-efficient water heating.</p>