<h5><u>Its going to be hot</u></h5>
<p>Simple and inexpensive actions can help you save energy and money during the warm spring and summer months. | Photo courtesy of iStockphoto.com/eyedias.
Simple and inexpensive actions can help you save energy and money during the warm spring and summer months. | Photo courtesy of iStockphoto.com/eyedias.
Here you'll find strategies to help you save energy during the spring and summer when the weather is warm and you are trying to keep your home cool. Some of the tips below are free and can be used on a daily basis to increase your savings; others are simple and inexpensive actions you can take to ensure maximum savings through the spring and summer. For more ways to stay cool while saving energy, check out our Energy Saver 101 infographic, covering everything you need to know about home cooling.</p>


<p>USE YOUR WINDOWS TO GAIN COOL AIR AND KEEP OUT HEAT
If you live in a climate where it cools off at night, turn off your cooling system and open your windows while sleeping. When you wake in the morning, shut the windows and blinds to capture the cool air.
Learn more about natural ventilation. Install window coverings to prevent heat gain through your windows.
Find out about window treatments and coverings that can improve energy efficiency.</p>

<p>OPERATE YOUR THERMOSTAT EFFICIENTLY
Set your thermostat as high as comfortably possible in the summer. The smaller the difference between the indoor and outdoor temperatures, the lower your overall cooling bill will be. Keep your house warmer than normal when you are away, and lower the thermostat setting to 78°F (26°C) only when you are at home and need cooling. A programmable thermostat can make it easy to set back your temperature.Find out how to operate your thermostat for maximum energy savings. Also see the ENERGY STAR® June 5, 2008, podcast for video instructions on operating your programmable thermostat</p>


<p>If you use air conditioning, a ceiling fan will allow you to raise the thermostat setting about 4°F with no reduction in comfort. Learn more about using a ceiling fan to increase cooling efficiency.
Find ENERGY STAR ceiling fans. Turn off ceiling fans when you leave the room. Remember that fans cool people, not rooms, by creating a wind chill effect. When you shower or take a bath, use the bathroom fan to remove the heat and humidity from your home. Your laundry room might also benefit from spot ventilation. Make sure bathroom and kitchen fans are vented to the outside (not just to the attic).
Find ENERGY STAR ventilating fans.</p>

