<h2><u>You could do better!</u></h2>
<p><u>Your kwh consumation is <%=@saver.kwh - @national %> kWhs more than the average monthly use</u></p>

<p>Make sure your walls and attic are well insulated.
Effective insulation slows the rate that heat flows out of the house in winter or into the house in summer, so less energy is required to heat or cool the house. If your house has no wall insulation, and it has more-or-less continuous wall cavities (such as conventional stud walls), blown-in insulation can greatly improve your comfort and save enough energy to be very cost-effective. (It rarely pays to blow additional insulation into already insulated walls.) If your attic is unfinished, it often pays to upgrade its insulation.</p>

<p>Find an energy auditor near you. Green Home Guide has the nation's #1 directory of local green home professionals.</p>

<p>Your contractor’s expertise is more important than the insulation material you choose. Properly installed fiberglass, cellulose and most foam insulation materials can all reduce the heat conduction of the completed wall system. The key is “properly installed.” Ideally, the contractor will use an infrared camera during or after installation to look for voids.</p>

<p>Upgrade or replace windows.
If your windows are old and leaky, it may be time to replace them with energy-efficient models or to boost their efficiency with weatherstripping and storm windows. It is almost never cost-effective to replace windows just to save energy. According to EnergyStar.gov, replacing windows can result in cost savings, but the larger savings would be associated with replacing single-glazed windows. However, if you are replacing windows for other reasons anyway, in many areas the additional cost of Energy Star-rated replacement windows is very modest, perhaps $15 per window. This upgrade would be cost-effective—and increase your comfort to boot.</p>

<p>Plant shade trees and shrubs around your house.
If your house is older, with relatively poor insulation and windows, good landscaping (particularly deciduous trees) can save energy, especially if planted on the house’s west side. In summer, the foliage blocks infrared radiation that would warm the house, while in winter the bare branches let this radiation come through. Of course, if your house has very good insulation and Energy Star or better windows, the effect is much, much smaller because the building shell itself is already blocking almost all the heat gain.</p>

<p>Replace an older furnace with a high-efficiency system.
If your furnace was built before 1992 and has a standing pilot, it probably wastes 35 percent of the fuel it uses, and it is probably near the end of its service life. In this case, in all but the warmest climates, ACEEE recommends early replacement with a condensing furnace with annual efficiency of at least 90 percent. This type of furnace wastes no more than 10 percent of the natural gas you buy, and may save you as much as 27 percent on your heating bill.</p>


<p>If you buy a new refrigerator, don’t leave the old one plugged in.
Avoid the temptation to use the old fridge as a backup for party supplies and liquid refreshment. The extra storage space will cost you: figure an extra $50–150 per year in electricity to keep that older fridge running. In contrast, the new fridge, particularly if Energy Star-rated, may cost only $30–60 per year to run because refrigerator efficiency has improved so much in the past three decades. Under these circumstances, think about how much refrigeration you really need. The best rule is to have only one refrigerator, and to size it to meet your real needs. That allows the luxury of icemakers and similar conveniences with a clear conscience.</p>
